<%= form_with(model: domain_ban, local: true) do |form| %>
  <% if domain_ban.errors.any? %>
    <%= errors_for(domain_ban) %>
    <br />
  <% end %>
  <div class="form-group">
    <%= form.label :domain do %>
      Domain
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.text_field :domain, id: :domain_ban_domain, class: "form-control" %>
  </div>

  <%= form.submit 'Submit', class: "btn btn-primary float-right" %>
<% end %>
