<p id="notice"><%= notice %></p>

<h1>Email Bans</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_bans.each do |email_ban| %>
      <tr>
        <td><%= email_ban.string %></td>
        <td><%= link_to 'Show', email_ban %></td>
        <td><%= link_to 'Edit', edit_email_ban_path(email_ban) %></td>
        <td><%= link_to 'Destroy', email_ban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email Ban', new_email_ban_path %>
