<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <%= errors_for(user) %>
    <br />
  <% end %>
  <div class="field">
    <%= form.label :email, class: "label" do %>
      Email
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.text_field :email, id: :user_email, class: "input" %>
  </div>
  <% if current_user == user || user.new_record? %>
    <div class="field">
      <%= form.label :password, class: "label" do %>
        Password
        <a style="color: red;"> *</a>
      <% end %>
      <%= form.password_field :password, class: "input" %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation, class: "label" do %>
        Password Confirmation
        <a style="color: red;"> *</a>
      <% end %>
      <%= form.password_field :password_confirmation, class: "input" %>
    </div>
  <% end %>
  <% if current_user && current_user.admin? %>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.check_box :admin, class: "form-check-input" %>
        Admin
      </label>
    </div>
  <% end %>
  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <%= link_to 'Back', users_path, class: 'button is-outline' %>
    </p>
    <p class="control">
      <%= form.submit 'Submit', class: "button is-primary is-pulled-right" %>
    </p>
  </div>
<% end %>
