<h1>Users</h1>


<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Email</th>
      <th style="text-align: center;">Admin</th>
      <th style="width: 1px;"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td style="text-align: center;"><%= fa_icon('check') if user.admin? %> </td>
        <td>
          <div class="field is-grouped is-pulled-right">
            <p class="control">
              <%= link_to fa_icon("search"), user, class: "button is-outline is-small"%>
            </p>
            <p class="control">
              <% if current_user == user || current_user.admin?%>
                <%= link_to fa_icon("pencil"), edit_user_path(user), class: "button is-outline is-small"%>
              <% end %>
            </p>
            <p class="control">
              <% if current_user.admin? %>
                <%= link_to fa_icon("trash"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-outline is-small" %></td>
              <% end %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
