<%= render 'shared/notice' %>

<h1>Users</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col" style="border-top: none;">Email</th>
      <th colspan="1" style="text-align: center; border-top: none;">Admin</th>
      <th colspan="1" style="width: 1px; border-top: none;"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td style="text-align: center;"><%= fa_icon('check') if user.admin? %> </td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to fa_icon("search"), user, class: "btn btn-outline-secondary btn-sm"%>
            <%= link_to fa_icon("pencil"), edit_user_path(user), class: "btn btn-outline-secondary btn-sm"%>
            <% if current_user.admin? %>
              <%= link_to fa_icon("trash"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
