<%= form_with(model: ban, local: true) do |form| %>
  <% if ban.errors.any? %>
    <%= errors_for(ban) %>
    <br />
  <% end %>
  <div class="field">
    <%= form.label :ban_value, class: "label" do %>
      Ban Value
      <a style="color: red;"> *</a>
    <% end %>
    <%= form.text_field :ban_value, id: :ban_ban_value, class: "form-control" %>
  </div>
  <div class="control">
    <label class="radio">
      <%= form.radio_button :ban_type, 'email', checked: true %>
      Email
    </label>
    <label class="radio">
      <%= form.radio_button :ban_type, 'domain' %>
      Domain
    </label>
    <label class="radio">
      <%= form.radio_button :ban_type, 'ip' %>
      IP
    </label>
  </div>

  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <%= link_to 'Back', bans_path, class: 'button is-outline' %>
    </p>
    <p class="control">
      <%= form.submit 'Submit', class: "button is-primary is-pulled-right" %>
    </p>
  </div>
<% end %>

