<%= render 'shared/notice' %>

<%= link_to fa_icon('arrow-left', text: 'Back'), bans_path, class: "btn btn-outline-secondary float-right" %>
<h2>Audit Log</h2>

<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col" style="border-top: none;">Value</th>
      <th scope="col" style="border-top: none;">Type</th>
      <th scope="col" style="border-top: none;">Changes</th>
      <th scope="col" style="border-top: none;">Changed By</th>
      <th scope="col" style="border-top: none;">Time</th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= Ban.with_deleted.find(audit.auditable_id).ban_value %></td>
        <td><%= Ban.with_deleted.find(audit.auditable_id).ban_type %></td>
        <td><code><%= audit.audited_changes %></code></td>
        <td><%= User.with_deleted.find(audit.user_id).email %></td>
        <td><%= audit.created_at.to_formatted_s(:long)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @audits, theme: 'twitter-bootstrap-4' %>
