<div class="has-text-left">
  <%= form_with(model: request, local: true) do |form| %>
    <% if request.errors.any? %>
      <%= errors_for(request) %>
      <br />
    <% end %>
    <div class="field">
      <%= form.label :email, class: "label" do %>
        Email
        <a style="color: red;"> *</a>
      <% end %>
      <%= form.text_field :email, id: :request_email, class: "input" %>
    </div>
    <div class="field">
      <%= form.label :reason, class: 'label' do %>
        Reason
        <% if Request.reason_required? %>
          <a style="color: red;"> *</a>
        <% end %>
      <% end %>
      <%= form.text_area :reason, id: :request_reason, class: "textarea" %>
    </div>
    <% if ENV["USE_RECAPTCHA"] == 'true' %>
      <%= recaptcha_tags %>
    <% end %>
    <% if ENV["CODE_OF_CONDUCT_REQUIRED"] == "true"%>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <%= form.check_box :code_of_conduct, class: "form-check-input" %>
            I agree to follow the <%= link_to "Code of Conduct", code_of_conduct_path, target: :_blank %>
          </label>
        </div>
      </div>
    <% end %>
    <% if ENV["AGE_MUST_BE_OVER_REQUIRED"] == "true"%>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <%= form.check_box :age_must_be_over, class: "form-check-input" %>
            I am over the age of <%= ENV.fetch('AGE', 18) %> years
          </label>
        </div>
      </div>
    <% end %>
    <%= form.submit 'Submit', class: "button is-primary is-pulled-right" %>
  <% end %>
</div>
