<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Reason</th>
      <th>IP</th>
      <th colspan="1" style="width: 1px; border-top: none;"></th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |request| %>
      <tr>
        <td><%= request.email %></td>
        <td><%= request.reason %></td>
        <td><code><%= request.ip %></code></td>
        <td>
          <div class="field is-grouped is-pulled-right">
            <% unless params[:filter] == "approved"%>
              <p class="control">
                <%= link_to fa_icon("check"), approve_request_path(request, filter: params[:filter]), method: :put, class: "button is-outline is-success is-small"%>
              </p>
              <% unless params[:filter] == "denied"%>
                <p class="control">
                  <%= link_to fa_icon("times"), deny_request_path(request, filter: params[:filter]), class: "button is-outline is-danger is-small"%>
                </p>
              <% end %>
            <% end %>
            <p class="control">
              <%= link_to fa_icon("trash"), request, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-outline is-small" %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/pagination', items: requests %>
