<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col" style="border-top: none;">Email</th>
      <th scope="col" style="border-top: none;">Reason</th>
      <th scope="col" style="border-top: none;">IP</th>
      <th colspan="1" style="width: 1px; border-top: none;"></th>
    </tr>
  </thead>

  <tbody>
    <% requests.each do |request| %>
      <tr>
        <td><%= request.email %></td>
        <td><%= request.reason %></td>
        <td><code><%= request.ip %></code></td>
        <td>
          <div class="btn-group" role="group">
            <% unless params[:filter] == "approved"%>
              <%= link_to fa_icon("check"), approve_request_path(request, filter: params[:filter]), method: :put, class: "btn btn-outline-success btn-sm"%>
              <% unless params[:filter] == "denied"%>
                <%= link_to fa_icon("times"), deny_request_path(request, filter: params[:filter]), class: "btn btn-outline-danger btn-sm"%>
              <% end %>
            <% end%>
            <%= link_to fa_icon("trash"), request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate requests, theme: 'twitter-bootstrap-4' %>
