<%= link_to fa_icon('arrow-left', text: 'Back', class: "fa-fw"), requests_path, class: "button is-outline is-pulled-right" %>
<h2>Audit Log</h2>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Request</th>
      <th>Changes</th>
      <th>Changed By</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= Request.with_deleted.find(audit.auditable_id).email %></td>
        <td><code><%= audit.audited_changes %></code></td>
        <td><%= User.with_deleted.find_by_id(audit.user_id).try(:email).to_s %></td>
        <td><%= audit.created_at.to_formatted_s(:long)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/pagination', items: @audits %>
