<p id="notice"><%= notice %></p>

<div class="float-right">
  <%= link_to "New", requests_path(page: nil), class: "btn #{'btn-primary' if params[:filter].blank?}" %>
  <%= link_to "Approved", requests_path(filter: "approved", page: nil), class: "btn #{'btn-primary' if params[:filter] == 'approved'}" %>
  <%= link_to "Denied", requests_path(filter: "denied", page: nil), class: "btn #{'btn-primary' if params[:filter] == 'denied'}" %>
</div>
<h1><%= (params[:filter].presence || "New").titleize%> Requests</h1>

<%= render 'table', requests: @requests %>

<br>

<%= link_to 'New Request', new_request_path %>
