<%= render 'shared/notice' %>

<div class="float-right">
  <div class="btn-group" role="group">
    <% if current_user.admin? %>
      <%= link_to "Audit Log", audit_log_requests_path, class: "btn btn-outline-secondary"%>
    <% end %>
    <%= link_to fa_icon('plus', text: 'New Request'), new_request_path, class: "btn btn-outline-primary" %>
  </div>
</div>

<h2>Requests</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "New", requests_path(page: nil), class: "nav-link #{'active' if params[:filter].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Approved", requests_path(filter: "approved", page: nil), class: "nav-link #{'active' if params[:filter] == 'approved'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Denied", requests_path(filter: "denied", page: nil), class: "nav-link #{'active' if params[:filter] == 'denied'}" %>
  </li>
</ul>

<% if params[:filter].blank? %>
  <div class="btn-group float-right" style="margin: 16px 8px;" role="group" aria-label="List Actions">
    <%= link_to "Approve All", approve_all_requests_path, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-success" %>
    <%= link_to "Deny All", deny_all_requests_path, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
<% end %>

<%= render 'table', requests: @requests %>
