<%= render 'shared/notice' %>

<h2>Requests</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "New", requests_path(page: nil), class: "nav-link #{'active' if params[:filter].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Approved", requests_path(filter: "approved", page: nil), class: "nav-link #{'active' if params[:filter] == 'approved'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Denied", requests_path(filter: "denied", page: nil), class: "nav-link #{'active' if params[:filter] == 'denied'}" %>
  </li>
</ul>

<% if params[:filter].blank? %>
  <div class="btn-group float-right" style="margin: 16px 8px;" role="group" aria-label="List Actions">
    <%= link_to "Approve All", approve_all_requests_path, class: "btn btn-outline-success" %>
    <%= link_to "Deny All", deny_all_requests_path, class: "btn btn-outline-danger" %>
  </div>
<% end %>

<%= render 'table', requests: @requests %>
