<div class="field is-grouped is-pulled-right">
  <p class="control">
    <% if current_user.admin? %>
      <%= link_to "Audit Log", audit_log_requests_path, class: "button button is-outline"%>
    <% end %>
  </p>
  <p class="control">
    <%= link_to fa_icon('plus', text: 'New Request', class: "fa-fw"), new_request_path, class: "button is-outline is-primary" %>
  </p>
</div>

<h2>Requests</h2>

<div class="tabs">
  <ul>
    <li class="<%='is-active' if params[:filter].blank? %>"><%= link_to "New", requests_path(page: nil) %></li>
    <li class="<%= 'is-active' if params[:filter] == 'approved' %>"><%= link_to "Approved", requests_path(filter: "approved", page: nil) %></li>
    <li class="<%= 'is-active' if params[:filter] == 'denied' %>"><%= link_to "Denied", requests_path(filter: "denied", page: nil) %></li>
  </ul>
</div>

<% if params[:filter].blank? %>
  <div class="is-pulled-left">
    <%= form_tag(requests_path, method: :get) do %>
      <div class="field has-addons is-pulled-right">
        <div class="control">
          <%= text_field_tag :query, params[:query].presence || '', placeholder: "Search for...", class: "input" %>
        </div>
        <div class="control">
          <%= submit_tag 'Search', class: "button is-info" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <%= link_to fa_icon('check', text: "Approve All", class: "fa-fw"), approve_all_requests_path, data: { confirm: 'Are you sure?' }, class: "button is-outline is-success" %>
    </p>
    <p class="control">
      <%= link_to fa_icon('times', text: "Deny All", class: "fa-fw"), deny_all_requests_path, data: { confirm: 'Are you sure?' }, class: "button is-outline is-danger" %>
    </p>
  </div>
<% end %>

<%= render 'table', requests: @requests %>
