<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @request.approved %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @request.denied %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
