<%= render 'shared/notice' %>

<div class="centered">
  <section class="text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= ENV["SLACK_NAME"] %></h1>
      <p class="lead text-muted">
        <%= image_tag ENV.fetch("SLACK_ICON", "") %>
      </p>
      <p>
        <%= link_to "Request Access", new_request_path, class: "btn btn-primary" %>
      </p>
    </div>
  </section>
</div>

<% content_for :footer do %>
  <footer class="text-muted site-footer">
    <div class="container">
      <p>Created with ♥ by <a href="http://hashtaggaming.herkokuapp.com"> Hashtag Gaming </a> <%= link_to fa_icon("github"), "https://github.com/hash-gaming/slackproval" %></p>
    </div>
  </footer>
<% end %>
