<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email, 'Email', class: "label" %><br />
    <%= text_field_tag :email, '', class: "input" %>
  </div>
  <div class="field">
    <%= label_tag :password, 'Password', class: "label" %><br />
    <%= password_field_tag :password, '', class: "input" %>
  </div>
  <%= submit_tag "Login", class: "button is-primary is-pulled-right" %>
<% end %>
