<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Slackproval</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <%= link_to ENV["SLACK_NAME"], root_path, class: "navbar-brand" %>
        <form class="form-inline my-2 my-lg-0">
          <% if current_user %>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to requests_path, class: "btn btn-outline-success" do %>
              Requests <span class="badge badge-light"><%= Request.new_items.count if Request.new_items.any? %></span>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to fa_icon("users"), users_path, class: "btn btn-outline-info" %>
              <% end %>
              <%= link_to fa_icon("sign-out"), :logout, method: :post, class: "btn btn-outline-secondary" %>
            </div>
          <% else %>
             <%= link_to "Admin Login", :login, class: "btn btn-outline-secondary" %>
          <% end %>
        </form>
      </div>
    </div>
    <div class="site-content">
      <%= yield %>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p>Created with ♥ by <a href="http://hashtaggaming.herkokuapp.com"> Hashtag Gaming </a> <%= link_to fa_icon("github"), "https://github.com/hash-gaming/slackproval" %></p>
      </div>
    </footer>
  </body>
</html>
