<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Slackproval</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <%= link_to ENV["SLACK_NAME"], root_path, class: "navbar-item" %>
      </div>

      <% if current_user %>
        <div class="navbar-burger burger" data-target="navbarLoggedIn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div id="navbarLoggedIn" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to requests_path, class: "button is-primary" do %>
                    Requests <% if Request.new_items.any? %> <span class="tag is-light " style="margin-left: 5px;"><%= Request.new_items.count %></span> <% end %>
                  <% end %>
                </p>
                <p class="control">
                  <%= link_to fa_icon("gavel"), bans_path, class: "button" %>
                </p>
                  <% if ENV["CODE_OF_CONDUCT_REQUIRED"] == 'true'%>
                    <p class="control">
                      <%= link_to fa_icon("book"), code_of_conduct_path, class: "button" %>
                    </p>
                  <% end %>
                  <p class="control">
                    <%= link_to fa_icon("users"), users_path, class: "button" %>
                  </p>
                  <p class="control">
                    <%= link_to fa_icon("sign-out"), :logout, method: :post, class: "button" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
